.App {
  text-align: left;
  margin: 0 0;
  padding: 0 0;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  color: white;
  text-align: justify;
  line-height: 0;
  margin: 0;
  padding: 0;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  background-color: rgba(10, 31, 24, 0.788);
  min-height: 100vh;
  margin: 5px 0 0 0;
  padding: 0;
  width: 100%;
  color: white;
  font-size: 10px;
  align-items: left;
  justify-content: left;
}

.App-main-button {

  font-size: 15px;
  background-color: greenyellow;
  
}